.icon-top-active{
    position:fixed;
    top:3rem;
    height: 4rem;
    margin: 1rem 0 0 0;
}
.Popular{
    margin:2rem 0 0 0; 
    color:black;
}
.setPopular{
    margin:2rem 0 0 0; 
    color:black;
}
.popularfooditem{
    display:flex;
    overflow-x:auto;
    margin-top:1rem;

}
.popularfooditem::-webkit-scrollbar{
    width:0;
    height: 0;
}
.popularfoodcard{
    min-width:110px;
}
/* Foodquery*/
.Querycontainer{
margin:1rem 0 0 0rem;
width:100%;
height:100%;
background:white;
display:grid;
flex-wrap:wrap;
justify-content:center;
margin:0 5rem 0 5rem;
grid-template-columns:repeat(6,1fr);
}