.icon-top-active{
    position:fixed;
    top:3rem;
    height: 4rem;
    margin: 1rem 0 0 0;
}
.Popular{
    margin:2rem 0 0 0; 
    color:black;
}
.setPopular{
    margin:2rem 0 0 0; 
    color:black;
}
.popularfooditem{
    display:flex;
    overflow-x:auto;
    margin-top:1rem;

}
.popularfooditem::-webkit-scrollbar{
    width:0;
    height: 0;
}
.popularfoodcard{
    min-width:110px;
}